#about-us {
  background-color: #f4ce14;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: stretch;
}

#about-text {
  margin: 20px;
  width: 50%;
}

#about-us h1,
#about-us h2 {
  text-align: end;
  color: #495e57;
  padding: 0;
  margin-top: 15px;
}

#about-us p {
  display: inline-block;
  margin-top: 20px;
  margin-left: 75px;
  text-align: end;
  color: #edefee;
  width: 30%;
}

#about-us img {
  float: left;
  border-radius: 15px;
  position: relative;
  top: -48px;
}
