.footer-menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 200px;
  background-color: #495e57;
  color: #ffffff;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo > img {
  padding: 25px;
}

.footer-header {
  margin: 20px 20px 20px 0px;
}

#footer-nav {
  list-style: none;
  margin-left: 100px;
}

#footer-info {
  padding: 0;
  list-style: none;
  margin-left: 100px;
}

#footer-links {
  list-style: none;
  margin-left: 100px;
}

.footer-nav-item a:link,
.footer-link-item a:link {
  text-align: left;
  display: block;
  color: white;
  font-family: "Karla", sans-serif;
  text-decoration: none;
}

.footer-nav-item a:visited,
.footer-link-item a:visited {
  color: white;
}

.footer-nav-item a:hover,
.footer-link-item a:hover {
  color: black;
  background-color: #495e57;
  text-decoration: underline;
}
