#main-nav {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 60px;
  text-align: right;
}

.logo-holder {
  float: left;
  padding-left: 15px;
  margin: 5px;
  text-align: left;
}

.logo-img {
  width: 50%;
}

#main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-item {
  display: inline-block;
}

.main-menu-item a {
  color: black;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.main-menu-item a:hover {
  background-color: #f4ce14;
  border-radius: 5px;
  transition: 0.25s;
}
