* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
